.aui{
	/*#1ab394 --> #692875*/
	body.skin-5.mini-navbar .nav-header { background-color: #692875;} 
	body.skin-5{ /*skin-5*/
		background:#692875;
		.minimalize-styl-2 {
		  margin: 14px 5px 5px 30px;
		}
		.navbar-top-links li:last-child {
		  margin-right: 10px;
		} 
		.spin-icon {
		  background: #692875 !important;
		}
		body.boxed-layout#wrapper {
		  background: #692875;
		}
		.nav-header {
		  background: #692875;
		  background: url('../patterns/header-profile-skin-5.png');  background-size: cover;
		} 
		.breadcrumb {
		  background: transparent;
		}
		.page-heading {
		  border: none;
		}
		#navigation.top-navigation .nav > li.active,.nav > li.active {
		  background: #4f2460;
		  border-color:#df1c5a;
		} 
		
		#navigation.top-navigation .nav > li.active li.active,.nav > li.active li.active{color:white;} 
		#navigation.top-navigation .nav > li.active  li > a:hover,.nav > li.active  li > a:hover {
		  background: #642673;
		} 
		.nav > li > a{color: #555;}
		#side-menu.nav > li > a {
		  color: #dcddde;
		}
		.nav > li.active > a, #side-menu.nav > li.active > a {
		  color: #fff;
		}
		.navbar-minimalize {
		  background: #692875;
		  border-color: #692875;
		} 
		.navbar-static-top {
		  background: #ffffff;
		}
		.dashboard-header {
		  background: transparent;
		  border-bottom: none !important;
		  border-top: none;
		  padding: 20px 30px 10px 30px;
		}
		.wrapper-content {
		  padding: 30px 15px;
		}
		#page-wrapper {
		  background: #f4f6fa;
		}
		.ibox-title,
		.ibox-content {
		  border-width: 1px;
		}
		.ibox-content:last-child {
		  border-style: solid solid solid solid;
		}
		.nav > li.active {
		  border: none;
		}
		.nav-header {
		  padding: 35px 25px 25px 25px;
		}
		.nav-header a.dropdown-toggle {
		  color: #fff;
		  margin-top: 10px;
		}
		.nav-header a.dropdown-toggle .text-muted {
		  color: #fff;
		  opacity: 0.8;
		}
		.profile-element {
		  text-align: center;
		}
		.img-circle {
		  border-radius: 5px;
		}
		.navbar-default .nav > li > a:hover,
		.navbar-default .nav > li > a:focus {
		  background: #4f2460;
		  color: #fff;
		}
		.nav.nav-tabs > li.active > a {
		  color: #555;
		}
		.nav.nav-tabs > li.active {
		  background: transparent;
		}

		
		.navbar-default .landing_link a{  background: #692875;}
		 
		.navbar-default .special_link a { background: #692875; } 
		.navbar-default .special_link a span.label { color: #692875;} 
		.navbar-default .landing_link a:hover { background: #692875 !important; }  
		
		.top-navigation .navbar-nav .dropdown-menu > .active > a { color: #692875; } 
		.top-navigation .nav > li a:hover,.top-navigation .nav > li a:focus { color: #692875;} 
		.top-navigation .nav > li.active > a {color: #692875;}   
		.top-navigation .navbar-brand { background: #692875; } 
		.navbar-toggle { background-color: #692875; } 
		.btn-primary.btn-outline { color: #692875;}  
		.btn-primary { background-color: #692875; border-color: #692875; }
		
		.btn-link:hover,.btn-link:focus,.btn-link:active,.btn-link.active,.open .dropdown-toggle.btn-link {  color: #692875; } 
		.label-primary,.badge-primary { background-color: #692875; } 
		.onoffswitch-label { border: 2px solid #692875; }
		.onoffswitch-inner:before { background-color: #692875;} 
		.onoffswitch-switch { border: 2px solid #692875; } 
		.fc-state-active {background-color: #692875; border-color: #692875; } 
		.fc-event,.fc-agenda .fc-event-time,.fc-event a { background-color: #692875; border-color: #692875; } 
		a.list-group-item.active,a.list-group-item.active:hover,a.list-group-item.active:focus { background-color: #692875; border-color: #692875; } 
		.pace .pace-progress {background: #692875; } 
		.form-control:focus,.single-line:focus { border-color: #692875 !important;}
		.has-success .form-control { border-color: #692875;} 
		.has-success .control-label { color: #692875;} 
		.noUi-connect { background: none repeat scroll 0 0 #692875; } 
		.onoffswitch-label { border: 2px solid #692875; } 
		.onoffswitch-inner:before { background-color: #692875; } 
		.onoffswitch-switch { border: 2px solid #692875; }
		.toast {background-color: #692875;}
		.toast-success {background-color: #692875;}
		.inspinia-notify.alert-info {border-left: 6px solid #692875;}
		.forum-item.active .fa {color: #692875;}
		.forum-item.active a.forum-item-title {color: #692875;}
		.vertical-date small {color: #692875; }
		.branding {background-color: #692875;}
		.navy-bg {background-color: #692875;} 
		.panel-primary {border-color: #692875;}
		.panel-primary > .panel-heading { background-color: #692875;border-color: #692875;}
		.progress-bar { background-color: #692875;} 
		.text-navy { color: #692875;}
		.category-list li a .text-navy { color: #692875;}
		.faq-question {color: #692875;}
		.issue-tracker .btn-link {  color: #692875;}
		.agile-list li.success-element { border-left: 3px solid #692875;} 
		.open-small-chat { background: #692875; }
		.open-small-chat:hover { background: #692875;} 
		.small-chat-box .content .chat-message.active {background: #692875; } 
		.sk-spinner-rotating-plane.sk-spinner { background-color: #692875; }
		.sk-spinner-double-bounce .sk-double-bounce1,.sk-spinner-double-bounce .sk-double-bounce2 { background-color: #692875; }
		.sk-spinner-wave div {  background-color: #692875;}
		.sk-spinner-wandering-cubes .sk-cube1,.sk-spinner-wandering-cubes .sk-cube2 { background-color: #692875; } 
		.sk-spinner-pulse.sk-spinner { background-color: #692875; } 
		.sk-spinner-chasing-dots .sk-dot1,.sk-spinner-chasing-dots .sk-dot2 { background-color: #692875; }
		.sk-spinner-three-bounce div { background-color: #692875; } 
		.sk-spinner-circle .sk-circle:before { background-color: #692875; }
		.sk-spinner-cube-grid .sk-cube { background-color: #692875; }
		.sk-spinner-wordpress.sk-spinner {background-color: #692875; } 
		.sk-spinner-fading-circle .sk-circle:before { background-color: #692875; } 
		.spin-icon {background: #692875; } 
		.default-skin { background: #692875;}
		
		.dockbar-user-notifications .user-notifications-count, .notifications-portlet .user-notifications-count{    background-color: #642673; border: 1px solid #642673;}
		.table-striped tbody > tr:nth-child(odd) > td, .table-striped tbody > tr:nth-child(odd) > th { background-color: #dad5e7;}
		
		.portlet-topper .portlet-topper-toolbar .portlet-icon-back {
			background: url(/LP5-ellucian-theme/css/../images/arrows/11_left.png) no-repeat 0 50%;
			/* ellucian LPV-2962 */
			background-position: left !important;
			color: #707070;
		}
		
		/* ellucian LPV-2963 */
		.navbar .nav>.active>a, .aui .navbar .nav>.active>a:hover, .aui .navbar .nav>.active>a:focus {
			background-color: transparent !important;
		}
		
		.portlet-dockbar .navbar.dockbar .container .nav-collapse > ul#_145_navAccountControls > li > a, div.container > div > ul > li > a > *
		{
			color: #888888 !important;
		}
		
		#portlet_33 .entry-body {
			height: 100%;
			overflow: auto;
		}
		
		#_145_navAccountControlsNavbarCollapse  > #_145_navAccountControls {
			margin: -1px !important;
		}
		
		.nav-collapse, .aui .nav-collapse.collapse {
			height : auto !important;
		}
		
		#portlet_33 .collapse {
			height: auto !important;
			display: inherit;
		}
		/*@media (max-width: 1300px){
			#_145_navAddControlsNavbarCollapse ul {
				display: none !important;
			}
		
			#_145_navAddControlsNavbarCollapse.open ul {
				display: inline-block !important;
			}
		}*/
		
		h1.portlet-title
		{
			font-size:24px !important;
		}
	}
}