<div class="row border-bottom">		
 	#if($theme_settings.white-top-header == true)
 		<nav class="navbar navbar-static-top  white-bg" role="navigation" style="margin-bottom: 0;  z-index: 111;">
 	#else
 		<nav class="navbar navbar-static-top  " role="navigation" style="margin-bottom: 0;  z-index: 111;">
 	#end
    
        <div class="navbar-header navbar-search">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            
            <div class="navbar-form-custom"> $theme.search()</div>
        </div>
        <div class="header-right right">
        #if ($is_signed_in)	#dockbar()#end
        
        <ul class="nav navbar-top-links navbar-right">
            ##$top-header   
            
            #if (!$is_signed_in)
            	#if ($theme_settings.login-page == "")
					<li><a data-redirect="false" href="$sign_in_url" rel="nofollow" id="sign-in">$sign_in_text</a></li>
				#else
					<li><a data-redirect="true" href="$theme_settings.login-page" rel="nofollow" id="sign-in">$sign_in_text</a></li>
				#end
			#else
                <li><a data-redirect="false" href="$sign_out_url" rel="nofollow"  class="sign-out-link"><i class="fa fa-sign-out" ></i> $sign_out_text </a> </li>
            #end
            #if($theme_settings.display-right-sidebar-toggle == true)
            	<li>
					<a class="right-sidebar-toggle">
				         <i class="fa fa-tasks"></i>
				     </a>
				</li>
			#end

        </ul>
            
		#if ($theme_settings.show-language-choice==true)
			<div class="clearfix"> </div>
            <div id="Language-choices">
				#set ($lang_portlet_id = "82")
				$theme.runtime($lang_portlet_id)
			</div>
				<style>
					.aui .pace-done .navbar-static-side
					{
						margin-top : 55px;
					}
				</style>
			#if ($theme_settings.top-navbar==true) 
					<style>
						div#page-wrapper > div.row-breadcrumbs
						{
							margin-top: 49px !important;
						}
					</style>
			#end
			#if ($theme_settings.white-top-header==true) 
				<style>
					.navbar-fixed-top #Language-choices section.portlet-container
					{
						background-color: white !important;
					}
				</style>
			#end	
		#end
		 </div>
        </nav>
    </div>


<div class="row wrapper border-bottom white-bg page-heading row-breadcrumbs">
    <div class="col-lg-10">
        <h2>$layout.getName()</h2>
        #breadcrumbs()
    </div>
</div>