
@import "compass";

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import url(color_schemes/blue.css);
@import url(color_schemes/ultra.css);
@import url(color_schemes/yellow.css);
@import url(color_schemes/purple.css);
@import url(custom_rtl.css);



#wrapper{padding:0}
.modal {
	  z-index: 1000;
	}
	.aui body{padding-bottom: 0 !important;}
	.aui form{margin-bottom: 0}
.aui .navbar .btn{margin-top:15px;}
.aui .navbar-fixed-top{z-index: 1200 !important;}
.aui .navbar-form-custom{
	height: auto;   padding-top: 15px;
	select, input[type=image]{display:none;}
	input[name="_3_keywords"]{margin: 0; background: transparent;  box-shadow: none;}
	
}
.aui .navbar-right .dropdown-menu{right: -270px;  left: auto;}
.aui .clear, .aui .clearfix{clear:both}

#_145_dockbar .collapse, #_145_editLayoutPanelSidebar .collapse{display: inherit !important;}
#_145_dockbar{margin-bottom: 0}
span.welcome-message{    line-height: 60px;}
.aui .modal.yui3-widget{  display: inherit;  /*z-index: 1206 !important;*/ top: 2% !important;  left: 0 !important;  width: 90% !important;   margin-left: 5%; }
.aui .modal.yui3-widget.modal-hidden{display: none}

.aui select, .aui textarea, .aui input[type="text"], .aui input[type="password"], .aui input[type="datetime"], .aui input[type="datetime-local"], .aui input[type="date"], .aui input[type="month"], .aui input[type="time"], .aui input[type="week"], .aui input[type="number"], .aui input[type="email"], .aui input[type="url"], .aui input[type="search"], .aui input[type="tel"], .aui input[type="color"], .aui .uneditable-input{height:auto;}
.aui .navbar .nav.navbar-top-links li a{padding-top:17px}
.lfr-meta-actions.icons-container{   margin-left: 0;  left: 0; position: absolute; bottom: -30px;   background-color: #F3F3F4;  z-index: 99;  padding: 0 10px;}
.lfr-meta-actions.icons-container li{display: inline-block;}

.aui .breadcrumb > li + li:before{content: ''}

.aui .top-navigation .nav > li.active > a{  color: #1ab394;  box-shadow: none;}
.aui .top-navigation .nav .dropdown-toggle .caret{margin-top:0}
.aui .tooltip-demo .btn-sm {  display: inline-block;}
.aui .btn-sm{  padding: 6px 10px;  font-size: 12px;  line-height: 1.5;}
.aui .btn{display: inline-block;}
.aui .breadcrumb li.last{  font-weight: 700;}
.aui .breadcrumb li.last .divider{display:none}


.aui .modal{display: none}
.aui #_145_dockbarMessages .footer{  padding: 0 20px; position: inherit;}
.aui .img-responsive { max-height: 100px;}
.aui ul.bullet-list li{color: #414042}
.aui ul.bullet-list ul{list-style-type: none;}
.aui ul.bullet-list ul li{color: #595959;}
.aui ul.bullet-list ul li:before { content: ""; line-height: 1em; width: .4em; height: 0.4em; border-radius:50%; background-color: #642673;float: left;margin: 0.7em 5px 0 0;}
.aui ul.bullet-list ul ul li:before { content: ""; line-height: 1em; width: .5em; height: 0.15em; border-radius:50%;  background-color: #595959;float: left;margin: 0.7em 5px 0 0;}
.aui ul.bullet-list ul ul ul li:before { content: ""; line-height: 1em; width: .4em; height: 0.4em; border-radius:50%;  background-color: #df1c5a;float: left;margin: 0.7em 5px 0 0;}

/*Portlets*/

.aui #portlet_58{
	max-width:100%; 
	margin-top: 40px; 
	header{
		padding: 0 10px 10px 10px;  min-width: 400px;max-width:100%;
  		h2{
  			margin-bottom: 10px; font-weight: 600; font-size: 16px; line-height: 20px;
  			img{display:none;}
  		}
  	}
  	.portlet-topper .portlet-topper-toolbar{  top: 25px;}
  	.portlet-content{
  		min-width: 400px; max-width:100%;
  		form{min-width: 400px; max-width:100%;}
  	}
  	label{color: #676a6c;   font-weight: normal;}
	.control-group{
		width: 400px;
		.control-label,input, select, textarea{width:90%; max-width:100% !important;}
		.checkbox input{width:auto}
	}
	.button-holder {
		.btn{width:100%}	
	}
	.navigation{
		border: none; background: transparent;padding: 10px 0; 
		li {
  			width: 100%;  margin-right: 0;  text-align: center;font-size: 12px;  line-height: 1.5;
  			img{display:none}
  			a[id*=_58_ctvk] {
			  display: block; color: inherit; border: 1px solid #d2d2d2; background: white; border-radius: 3px; padding: 5px 10px; margin: 10px 0;
		  }
		}
		
	}
}

.aui .locked-page #portlet_58{
	 margin: 0 auto; float:none;max-width: 400px;
	header{text-align: center;min-width: inherit;}
	.portlet-content{
  		min-width: inherit; 
  		form{min-width: inherit; }
  	}
  	.control-group{width: 100%;}
}

.aui .locked-page {
  max-width: 800px; margin: 0 auto; padding: 100px 20px 20px 20px;
}
.aui .locked-page .span6 #portlet_58{
	padding-top: 0px;  background-color: white;
	header{padding:0}
	.portlet-title{display: none}
}
 
.aui #portlet_33 .collapse{height: auto; display: inherit;}
.aui h2.portlet-title{
	line-height: 37px;
	img{display:none}
}
.aui #portlet_33{ 
	.entry.approved{width:100%; clear:none; position: relative;padding:10px 1%; margin:0 1% 10px 1% ; background-color: white;  border-color: #e7eaec;  border-image: none;  border-style: solid solid none;  border-width: 1px 0px;  display: inline-block;  float: left;}
	.separator{display: none;}
	.entry-date{padding-left:0; background: none;}
	.entry-date:before{  content: "\f017";  display: inline-block;  font: normal normal normal 14px/1 FontAwesome;  font-size: inherit; }
	.entry-title h2{ font-weight: 700;}
	.entry-title a{color:inherit;}
	.entry-title a:hover{  color: #1ab394;  text-decoration: none;}
	.entry-body{height: 120px; overflow: auto; }
	.entry-body::-webkit-scrollbar{width:9px;} 
	.entry-body::-webkit-scrollbar-thumb{background-color:#eee;border-radius:10px;}
	.entry-body::-webkit-scrollbar-thumb:hover{background-color:#37BDBF;border:1px solid #37BDBF;}
	.entry-body::-webkit-scrollbar-thumb:active{background-color:#37BDBF;border:1px solid #37BDBF;} 
	.entry-body::-webkit-scrollbar-track{ border:1px gray #37BDBF; border-radius:0; -webkit-box-shadow:none;}
	
	.entry-tags {  display: block;  margin-top: 10px;	}
	.taglib-asset-categories-summary, .taglib-asset-tags-summary { border-left: none;  padding-left: 0px;}
	.taglib-asset-tags-summary .tag { color: inherit; background: white; border: 1px solid #e7eaec; margin: 0 0 5px 0;  padding: 1px 5px;  font-size: 12px;  line-height: 1.5;  border-radius: 3px;}
	
	.entry-author{background: none; padding-left:0}
	.entry-author:before{content: "\f007";display: inline-block;  font: normal normal normal 14px/1 FontAwesome;  font-size: inherit; }
	
	.entry-author, .stats , .taglib-flags {float:none; border:none;width:100%}
	.stats span, .taglib-flags span{float:right}
	 
	.stats a, .taglib-flags a{color:#676a6c;}
	.stats .comments:before{  content: "\f0e6";  display: inline-block;  font: normal normal normal 14px/1 FontAwesome;  font-size: inherit; }
	.taglib-flags{
		img{display:none} 
		.taglib-text:before{   margin-right: 3px; content: "\f11d";  display: inline-block;  font: normal normal normal 14px/1 FontAwesome;  font-size: inherit; }
	}
	.subscribe{
		clear: both;   margin: 0;  padding: 13px 1%;
		.taglib-icon img{display: none}
		.taglib-icon:before { content: "\2709"; display: inline-block;  font: normal normal normal 14px/1 FontAwesome;font-size: 19px;}
		.taglib-rss{  margin-right: 17px;}
		.taglib-rss a:before { content: "\f09e";   font-size: inherit;}
		#_33_ocerSearchContainerPageIterator { 
			margin-left: 1%;  margin-right: 1%;
			.pager{  margin: 6px 0;}
		}
	}
}
		
	body.portal-popup {
	    background: white !important;
	}
	
.nav-collapse.collapse {display: block; }

/***********/	
.aui .dropdown-menu.lfr-menu-list{left: inherit; right: 0}
.aui .carousel-control.right, .aui .carousel-control.left{  top: 45%; border: none;  background: transparent;}
.aui .carousel-caption{background: transparent;}
.aui .carousel-indicators{width: auto; top: inherit; margin: 0 auto;}
.aui #Language-choices{padding-right: 70px;  float: right;}

.aui #_145_dockbarMessages .footer{border:none}
a#_145_navAccountControlsNavbarBtn img{max-width: 20px}
.aui .container { max-width: 100% !important;}

.aui .short-codes{
	.nav-tabs{border :none;}
	.nav-tabs > li.active > a{background-color: #18a689;  cursor: pointer;  color: white;}
}
.aui .row{    margin-right: 0;    margin-left: 0;}
.aui .border-bottom.row{    margin-right: -15px;    margin-left: -15px;}
#main-content{padding-bottom: 55px;}
 .menu-name img{    max-width: 19px;max-height: 19px;     margin-left: -6px;   margin-right: 6px;}
 
 
/************** Notification portlet **************/
.dockbar-user-notifications .user-notifications-count{border:none; background: transparent; position: relative; background-color: #1ab394; font-size: 11px; padding: 1px 5px; color: white; font-weight: normal;}
.dockbar-user-notifications .user-notifications-count:after{ content: "\f0f3"; font-family: fontawesome; color: #999c9e; position: absolute;    left: -5px; top: 5px;text-indent: -7px; font-size: 13px;}
.aui .navbar .nav > li > .dropdown-menu.user-notifications-list:before, .aui .navbar .nav > li > .dropdown-menu.user-notifications-list:after{right:9px; left:inherit;}
.dockbar-user-notifications .user-notifications-list .user-notification a:hover, .notifications-portlet .user-notifications-list .user-notification a:hover{    color: #262626; background: #f5f5f5;}
.dockbar-user-notifications .user-notifications-list .message.bottom:after{content: "\f054";font-family: fontawesome;position: absolute; top: 35%;}

/************** Dockbar portlet **************/
#p_p_id_145_{display: inline-block;    padding-top: 15px;}
#_145_dockbar{background: transparent;    z-index: 9999;}
#_145_dockbar .navbar-inner{box-shadow: none;    background: transparent; border: none;}
.aui .dockbar .navbar-inner,.aui .dockbar .navbar-inner .container{padding:0; }
#_145_navAddControlsNavbarCollapse, #_145_dockbar .collapse, #_145_navAccountControlsNavbarCollapse, #_145_navAccountControls, #_145_navAddControls{margin: 0; display: inline-block  !important;}
.aui #_145_dockbar .nav > li > a{    padding: 10px 7px;    outline: none !important;}
.aui #_145_dockbar .nav > li#_2_WAR_notificationsportlet_userNotifications > a{padding-left: 17px}
.aui #_145_dockbar .nav > li > a i{    margin-right: 0px;}
.aui #_145_dockbar .divider-vertical{    margin: 0 3px;     border: none;}
.aui .navbar .nav.navbar-top-links{    margin-top: 5px;}
.right{float: right;}
.aui .portlet-borderless-container, .aui .portlet.portlet-container{background-color: white; border: 1px solid #e7eaec; padding: 25px;    margin-top: 15px;}
.aui .message{    padding: 2px 10px;}
.lfr-add-dialog .add-content-menu .lfr-page-template .lfr-page-template-title label, .lfr-add-panel .add-content-menu .lfr-page-template .lfr-page-template-title label {padding-left: 20px;}
.lfr-add-dialog .add-content-menu .lfr-page-template .lfr-page-template-title .radio input, .lfr-add-panel .add-content-menu .lfr-page-template .lfr-page-template-title .radio input{    margin-left: -15px;}
.aui .navbar .btn-navbar, .aui .navbar .btn-navbar:hover, .aui .navbar .btn-navbar:focus, .aui .navbar .btn-navbar:active{    background: #1ab394;}
.aui .navbar .btn-navbar#_145_navAddControlsNavbarBtn{background: #e9e9e9 !important;}
.aui .portlet-options a .icon-cog {display: block; text-indent: 1px;}

/************** chatportlet portlet **************/
#p_p_id_1_WAR_chatportlet_{
	.panel-window{border-radius:0; border: 1px solid #e7eaec;}
	.panel-title{    background: #2f4050;    height: inherit; padding: 8px 15px; font-weight: bold; color: #fff;}
	.buddy-list .field.search-buddies{    margin-top: 2px;    width: 100%;}
	label {    font-size: 11px; line-height: 14px;}
	#saveSettings{    background: #1ab394;    border: none; color: #FFFFFF;    height: 30px; padding: 5px 10px;font-size: 12px; line-height: 1.5; border-radius: 3px;}
	.chat-bar{    z-index: 9999;background: #f3f3f4;    border: 1px solid #e7eaec;}
	.chat-bar div ul li.selected .panel-trigger, .buddy-list .panel-trigger{     border-radius: 0; background:#1ab394;color:white;  border: inherit;border-width: inherit;height: 23px;line-height: inherit;margin: inherit;position: inherit;z-index: inherit;}
	.chat-bar div ul li.selected.chat-settings .panel-trigger{border-right: 1px solid white;}
	.chat-settings li{border-color:  #e7eaec;}
	.chat-bar .status-message, .chat-bar .trigger-name{    text-shadow: none;}
	.panel-button.minimize{    top: 13px;}
	.chat-bar div ul li .panel-trigger{border-color: #e7eaec;     padding: 0px 12px;}
	.chat-bar .buddy-list .trigger-name:after{ content: "\f086"; font-family: fontawesome;font-size: 13px;}
	.badge-warning{    position: absolute;    top: -7px;    right: -2px;}
}

/************** Activities portlet **************/
.aui #p_p_id_116_{
	.day-separator { font-weight: bold;}
	.day-separator:before{    content: "\f133";font-family: fontawesome;  }
	.portlet-icon {    width: 31px; padding-left: 10px; padding-top:5px;}
	.activity-data { padding: 5px 0 15px 0;}
	
	
}

.aui .profile-element img { max-width: 50px;}
.aui .navbar-fixed-top{
	#_145_dockbar{position: relative; }
	.nav.navbar-top-links{margin-top: 10px;}
}

.aui .theme-config-box {  margin-right: -220px;}

.aui body.mini-navbar .nav-header{padding: 25px 5px !important;}
.aui body.mini-navbar .profile-element{display: inherit;}
.aui #side-menu li img{max-width: 140px;}
.aui #side-menu .profile-element img{max-width: 50px;}
.aui .fh-breadcrumb{margin-top:5px; }
.aui .portlet-content .form-search .input-append input{max-width: 200px;}
.aui .hide-chat .chat-bar{display: none;}
.aui .taglib-header .header-back-to a{padding-top:0; }
.aui .lfr-has-device-preview{
	.navbar-fixed-top, #side-menu{    width: 0;  height: 0;  overflow: hidden;}
}
.aui #navigation .add-page.sortable-item .delete-tab{display: none;}

/************** dockbar portlet **************/
.aui .navbar-fixed-top .navbar-fixed-top{border-bottom: none !important;}
.aui #Language-choices{padding-right: 0;}

.aui #p_p_id_145_ .dropdown-menu{max-width: 200px;}
.aui #p_p_id_145_ .dropdown-menu > li > a{    overflow: hidden;    text-overflow: ellipsis;}
.aui #p_p_id_145_, .aui #_145_dockbar {position: relative !important;}

@media (min-width: 1300px){
	.aui .navbar-top-links{margin-top: 0 !important}
	.aui .navbar .nav.navbar-top-links li a {padding-top: 0; padding-bottom: 0; max-height: 100%; line-height: 61px;}
	
	.aui #p_p_id_145_ { padding-top: 0; height: 61px;}	
	
	.aui #_145_navAddControls li a{padding-top: 0px !important;padding-bottom: 0 !important;height: 60px !important;line-height: 61px;}
	.aui #_145_navAddControls li .nav-item-label{font-size: 0;}
	
	.aui #_145_navAccountControlsNavbarCollapse li a.dropdown-toggle{padding-top: 0; padding-bottom: 0;}
	.aui #_145_navAccountControlsNavbarCollapse li a.dropdown-toggle span:not(.user-notifications-count ){line-height: 60px;}
	
	.aui #_145_navAccountControlsNavbarCollapse li.luminis a{padding-top: 0; padding-bottom: 0;}
	.aui #_145_navAccountControlsNavbarCollapse li.luminis a span:not(.user-notifications-count ){line-height: 60px;}
	
	.aui #_2_WAR_notificationsportlet_userNotifications .user-notification-link{padding-top: 20px !important}
}

@media (max-width: 1300px){
	#p_p_id_145_ {  padding-top: 10px;}
	#_145_dockbar.navbar .container .btn-navbar {  color: #000; display: inline-block; margin-bottom: 5px; width: auto;}
	.aui .nav-collapse, .aui .nav-collapse.collapse { overflow: hidden !important; height: 0 !important;}
	#_145_navAccountControlsNavbarCollapse,	.aui .navbar .container .nav-collapse.open { display: block; height: auto !important;overflow: visible !important;}
	a#_145_navSiteNavigationNavbarBtn { visibility: hidden;}
	.aui .portlet-dockbar .navbar.dockbar .container .nav-collapse ul.nav-account-controls .admin-links>a:before {
    	-webkit-font-smoothing: antialiased; content: "\f013"; font-family: 'fontawesome';}
    .aui .portlet-dockbar .navbar.dockbar .container .nav-collapse ul.nav-account-controls .my-sites>a:before {
    	-webkit-font-smoothing: antialiased; content: "\f0ac"; font-family: 'fontawesome';}
    .aui .portlet-dockbar .navbar.dockbar .container .nav-collapse>ul#_145_navAccountControls >li>a{
		background: #e9e9e9;border: 0;font-size: 18px;height: 38px;line-height: 38px;margin: 0 0 0 10px;padding: 0;text-align: center;
		    width: 38px; border-radius: 3px; border: 1px solid; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);}
	.aui .nav-collapse .nav > li{float: left}
	.aui .portlet-dockbar .navbar.dockbar .container .nav-collapse>ul>li .icon-caret-down, .aui .portlet-dockbar .navbar.dockbar .container .nav-collapse>ul>li .nav-item-label,
	.aui .portlet-dockbar .navbar.dockbar .container .nav-collapse ul.nav-account-controls .user-avatar .user-full-name {
	    display: none;
	}
	#_145_dockbar.navbar .container .btn-navbar#_145_navAccountControlsNavbarBtn, #_145_dockbar.navbar .container .btn-navbar#_145_navSiteNavigationNavbarBtn{ display: none;}
	
	.aui .portlet-dockbar .navbar.dockbar .container .nav-collapse ul.nav-account-controls .admin-links .dropdown-menu li .nav-item-label,
	.aui .portlet-dockbar .navbar.dockbar .container .nav-collapse ul.nav-account-controls .user-avatar .nav-item-label,
	.aui .portlet-dockbar .navbar.dockbar .container .nav-collapse > ul#_145_navAddControls > li .nav-item-label {
	    display: inline-block;
	}
	.aui #_145_dockbar .nav > li > a{padding: 0px 7px;}
	.dockbar-user-notifications .user-notifications-count:after{    top: 7px;}
	.dockbar-user-notifications .user-notifications-count{padding:1px 3px;}
	.aui #_145_dockbar .nav > li#_2_WAR_notificationsportlet_userNotifications > a { width: inherit;    line-height: inherit;    padding-right: 5px;}
	#_145_dockbar .container { width: 260px;    position: relative;}
	#_145_navAccountControlsNavbarCollapse{        position: absolute;  width: 215px !important; left: 0 !important;}
	#_145_navAddControlsNavbarBtn{margin-top: 0px; margin-bottom: inherit;    padding: 8px 10px;}
	
	#_145_navAddControlsNavbarCollapse{    position: absolute !important; top: 38px;     right: 5px;}
	#_145_navAddControlsNavbarCollapse ul{ display: none !important;}
	#_145_navAddControlsNavbarCollapse.open ul{display: inline-block !important;}
	#_145_navAddControlsNavbarCollapse ul{position:relative; border: medium none; border-radius: 3px; box-shadow: 0 0 3px rgba(86, 96, 117, 0.7); font-size: 12px; z-index: 1000;     padding: 5px; background-color: white;     left: inherit;}
	#_145_navAddControlsNavbarCollapse ul:before, #_145_navAddControlsNavbarCollapse ul:after{content: '';display: inline-block;border-left: 7px solid transparent;border-right: 7px solid transparent;border-bottom: 7px solid #ccc;border-bottom-color: rgba(0, 0, 0, 0.1);position: absolute;top: -7px;right: 9px;}
	#_145_navAddControlsNavbarCollapse ul li > a {padding:0 10px; border-radius: 3px; color: inherit; line-height: 25px; margin: 4px; text-align: left; font-weight: normal;}
	#_145_navAddControlsNavbarCollapse ul li:HOVER {background: #f5f5f5;}
	.aui #_145_navAddControlsNavbarCollapse.nav-collapse .nav > li { float: none;}
	#_145_navAccountControlsNavbarCollapse, .aui .navbar .container .nav-collapse.open {height: auto !important;overflow: visible !important;}
	/*#_145_navAddControlsNavbarCollapse {top: -15px !important;}
	#_145_navAccountControlsNavbarCollapse{top: -10px !important;}*/
	.aui .navbar-fixed-top .nav.navbar-top-links {margin-top: -2px !important;}
	.aui .navbar .nav { margin: 0 0 0 0;}
}

@media (min-width: 1200px){
	.aui #portlet_33 .entry.approved{width:100% !important; }
}

@media (max-width: 979px) {
	a#_145_navSiteNavigationNavbarBtn { visibility: hidden;} 
	.navbar .nav.navbar-top-links.navbar-right {clear:both;  }
	.aui #_145_dockbar .nav-collapse .dropdown-menu {position: absolute; background-color: white; border: medium none; border-radius: 3px;    box-shadow: 0 0 3px rgba(86, 96, 117, 0.7);}
	.aui #_145_dockbar .nav-collapse .dropdown-menu:before, .aui #_145_dockbar .nav-collapse .dropdown-menu:after{content: '';display: inline-block;border-left: 7px solid transparent;border-right: 7px solid transparent;border-bottom: 7px solid #ccc;border-bottom-color: rgba(0, 0, 0, 0.1);position: absolute;top: -7px;}
	.aui .navbar-top-links li:last-child{margin-right: 0}
	.aui #p_p_id_145_ .nav-collapse .dropdown-menu:before{display: none}
} 

@media (max-width: 768px){
	.aui .btn{margin-top: inherit;}
	.aui .col-xs-1, .aui .col-sm-1, .aui .col-md-1, .aui .col-lg-1, .aui .col-xs-2, .aui .col-sm-2, .aui .col-md-2, .aui .col-lg-2, .aui .col-xs-3, .aui .col-sm-3, .aui .col-md-3, .aui .col-lg-3, .aui .col-xs-4, .aui .col-sm-4, .aui .col-md-4, .aui .col-lg-4, .aui .col-xs-5, .aui .col-sm-5, .aui .col-md-5, .aui .col-lg-5, .aui .col-xs-6, .aui .col-sm-6, .aui .col-md-6, .aui .col-lg-6, .aui .col-xs-7, .aui .col-sm-7, .aui .col-md-7, .aui .col-lg-7, .aui .col-xs-8, .aui .col-sm-8, .aui .col-md-8, .aui .col-lg-8, .aui .col-xs-9, .aui .col-sm-9, .aui .col-md-9, .aui .col-lg-9, .aui .col-xs-10, .aui .col-sm-10, .aui .col-md-10, .aui .col-lg-10, .aui .col-xs-11, .aui .col-sm-11, .aui .col-md-11, .aui .col-lg-11, .aui .col-xs-12, .aui .col-sm-12, .aui .col-md-12, .aui .col-lg-12
	,.aui #page-wrapper{padding-right: 5px;  padding-left: 5px;}
	.aui .row{  margin-right: 0px;  margin-left: 0px;}
	.aui .minimalize-styl-2{margin-left:10px !important; padding: 4px 0px;}
	.aui .theme-config{  top: 75px;}
	.aui .navbar-top-links li:last-child { margin-right: 0 !important;margin: 0;}
	.aui .navbar .nav.navbar-top-links > li > a{padding-left:11px; padding-right: 11px;}

	.aui .navbar .nav.navbar-top-links.navbar-right {  float: right;   /*padding-left: 40px;*/}
	.aui body{padding:0 !important}
	.aui .navbar-fixed-top, .aui .navbar-fixed-bottom, .aui .navbar-static-top{margin-left:0; margin-right:0;}
	span.welcome-message { display: none;}
	.aui .nav.navbar-top-links a.sign-out-link{font-size: 0;}
	.aui .nav.navbar-top-links a.sign-out-link i{    font-size: 15px;   margin-top: 6px;}
	.aui #_145_userAvatar .dropdown-menu{left: inherit; right:0;    margin-right: 0;}
	.aui #_145_userAvatar .dropdown-menu:after, .aui #_145_userAvatar .dropdown-menu:before{left: inherit; right:0;}
	.aui  .dockbar-user-notifications .dropdown-menu{max-width: 200px;}
	.aui .border-bottom.row { margin-right: 0; margin-left: 0;}
	
}
 
     
 @media (max-width: 550px) {          
      a#_145_navSiteNavigationNavbarBtn { display: none; } 
      .aui .minimalize-styl-2 {  margin: 5px 9px !important;}
      .aui #_145_navAddControlsNavbarBtn{    padding: 5px 8px;}
      .aui .portlet-dockbar .navbar.dockbar .container .nav-collapse > ul#_145_navAccountControls > li > a{height: 32px;line-height: 30px;width: 30px}
      #_145_dockbar .container{width: 217px;}
      #_145_navAccountControlsNavbarCollapse{width: 175px !important;}
      .aui #Language-choices section.portlet-container{padding-left: 0 !important; padding-right: 0 !important;}
}

@media (max-width: 450px){
	.aui table.table-mail tr td{padding:10px 0px 10px 4px}
	.aui .table-mail {
		.check-mail{padding-left: 5px; }
		.mail-date{padding-right:5px}
	}
	.aui .star-mail, .aui .check-mail{width:auto;}
	
	.aui .navbar-top-links .dropdown-messages, .aui .navbar-top-links .dropdown-tasks, .aui .navbar-top-links .dropdown-alerts{  width: 290px;}
	.aui .navbar-top-links .dropdown-menu li a{  padding: 3px 10px 3px 0px;}
	.aui .dockbar-user-notifications .dropdown-menu{    right: -90px !important;}
	.aui .dockbar-user-notifications .dropdown-menu:after{right: 50% !important;}
}

.navbar-static-side
{
	z-index : 999 !important;
}

.lfr-meta-actions.icons-container {
	position: relative;
	bottom: -60px;
}

.aui .portlet.portlet-container {
	margin-top: 25px;
}

#_145_addPanelSidebar
{
	z-index: 10000 !important;
}

.aui .navbar .nav.navbar-top-links li a {
	color: #888888 !important;
}

.aui .lfr-admin-panel {
	z-index: 1205 !important;
}

.aui .navbar .nav.navbar-top-links li a {
	color: #888888 !important;
}

.navbar-fixed-top #Language-choices section.portlet-container, .navbar-static-top #Language-choices section.portlet-container
{
    border: none !important;
    height: 50px;
    margin-top: -6px;
}

.navbar-fixed-top #Language-choices section.portlet-container header, .navbar-static-top #Language-choices section.portlet-container header
{
	display : none;
}

.navbar-fixed-top #Language-choices section.portlet-container div.portlet-content, .navbar-static-top #Language-choices section.portlet-container div.portlet-content
{
	padding: 0px 10px 10px;
	    margin-top: -10px;
}

.navbar-fixed-top #Language-choices .portlet-boundary_82_,.navbar-static-top #Language-choices .portlet-boundary_82_
{
	height: 50px;
}


.navbar-fixed-top #Language-choices section.portlet-container
{
	background-color: #f3f3f4 !important;
}

/* ---------- HTML editor ---------- */
/* ensure the background on the body of the editor is white whichever color-scheme is active */
body.html-editor {
	background: #FFF !important;
	color: #000 !important;
	padding: 1em !important;
}

/* ellucian LPV-2964 */
.rtl.aui .navbar .nav.navbar-top-links li a i.fa-sign-out {
	transform: rotateY(180deg);
}
