<div class="footer">
  <div class="pull-right"><strong>&copy;</strong> 2000-2016 Ellucian. #language("all-rights-reserved")</div>
  <div><strong>#language("powered-by") Luminis</strong></div>
</div>